.flex {
  display: flex;
}

.md\:hover\:bg-blue:hover {
  background-color: #3490dc;
}

.-mx-6 {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.static {
  position: static;
}

.w-3\/5 {
  width: 60%;
}

@media (min-width: 576px) {
  .container {
    max-width: 576px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
